Repository 18F/identity-pki: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_gitlab_deploy_container, build_gitlab_test_container, build_env_deploy_container, build_env_stop_container, build_env_test_container, build_idp_ci_container, scan_gitlab_deploy_container, scan_gitlab_test_container, scan_env_deploy_container, scan_env_stop_container, scan_env_test_container, scan_idp_ci_container, test_images_exist

build_gitlab_deploy_container:
  stage: build
  interruptible: true
  tags:
  - build-pool
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

build_gitlab_test_container:
  stage: build
  interruptible: true
  tags:
  - build-pool
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

build_env_deploy_container:
  stage: build
  interruptible: true
  tags:
  - build-pool
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

build_env_stop_container:
  stage: build
  interruptible: true
  tags:
  - build-pool
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

build_env_test_container:
  stage: build
  interruptible: true
  tags:
  - build-pool
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

build_idp_ci_container:
  stage: build
  interruptible: true
  tags:
  - build-pool
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

scan_gitlab_deploy_container:
  stage: scan
  interruptible: true
  allow_failure: true
  tags:
  - build-pool
  image:
    name: amazon/aws-cli
    entrypoint:
    - ''
  before_script:
  - curl -LO https://github.com/jqlang/jq/releases/download/jq-1.6/jq-linux64
  - chmod +x jq-linux64
  - mv jq-linux64 /usr/local/bin/jq
  script:
  ...

scan_gitlab_test_container:
  stage: scan
  interruptible: true
  allow_failure: true
  tags:
  - build-pool
  image:
    name: amazon/aws-cli
    entrypoint:
    - ''
  before_script:
  - curl -LO https://github.com/jqlang/jq/releases/download/jq-1.6/jq-linux64
  - chmod +x jq-linux64
  - mv jq-linux64 /usr/local/bin/jq
  script:
  ...

scan_env_deploy_container:
  stage: scan
  interruptible: true
  allow_failure: true
  tags:
  - build-pool
  image:
    name: amazon/aws-cli
    entrypoint:
    - ''
  before_script:
  - curl -LO https://github.com/jqlang/jq/releases/download/jq-1.6/jq-linux64
  - chmod +x jq-linux64
  - mv jq-linux64 /usr/local/bin/jq
  script:
  ...

scan_env_stop_container:
  stage: scan
  interruptible: true
  allow_failure: true
  tags:
  - build-pool
  image:
    name: amazon/aws-cli
    entrypoint:
    - ''
  before_script:
  - curl -LO https://github.com/jqlang/jq/releases/download/jq-1.6/jq-linux64
  - chmod +x jq-linux64
  - mv jq-linux64 /usr/local/bin/jq
  script:
  ...

scan_env_test_container:
  stage: scan
  interruptible: true
  allow_failure: true
  tags:
  - build-pool
  image:
    name: amazon/aws-cli
    entrypoint:
    - ''
  before_script:
  - curl -LO https://github.com/jqlang/jq/releases/download/jq-1.6/jq-linux64
  - chmod +x jq-linux64
  - mv jq-linux64 /usr/local/bin/jq
  script:
  ...

Post release version pre-274
  VERSION.txt
Due: none

Updating scan step to handle null findings
  .gitlab-ci.yml
Due: test_images_exist

revert app-alb Security Group to use 0.0.0.0/0 ingress (#6493)
  terraform/modules/vpc_module/sg.tf
Due: none

Adding dotagencyg6.eva.orc.com for U.S. Department of Transportation Agency CA G6 (#6495)
  kitchen/cookbooks/identity-outboundproxy/templates/default/domain-allowlist.conf.erb
Due: none

Update kubernetes addons terraform module version to v4.32.1
  terraform/review-app-eks/review_app.tf
Due: none

Release version 274
  VERSION.txt
Due: none

Post release version pre-275
  VERSION.txt
Due: none

Updating to set PIVCAC DB Name in helm chart values
  .gitlab-ci.yml
Due: test_images_exist

Updating scan step to hopefully handle nulls (#6481)
  .gitlab-ci.yml
Due: test_images_exist

Updating scan step to handle null findings (#377)
  .gitlab-ci.yml
Due: test_images_exist

update eks blueprint module version to v4.31.1
  terraform/review-app-eks/review_app.tf
Due: none

KMS Matching System - Ruby 3.2 Runtimes (BREAKING) (#6465)
  terraform/app/kms-log.tf
  terraform/app/lambda/kms_lambda_processors/.ruby-version
  terraform/app/lambda/kms_lambda_processors/Gemfile
  terraform/app/lambda/kms_lambda_processors/Gemfile.lock
  terraform/app/lambda/kms_lambda_processors/lib/kms_monitor/cloudtrail.rb
  terraform/app/lambda/kms_lambda_processors/lib/kms_monitor/cloudwatch.rb
  terraform/app/lambda/kms_lambda_processors/lib/kms_monitor/events_generator.rb
  terraform/app/lambda/kms_lambda_processors/scripts/install-deps.sh
Due: none

Updating KMS Log Module SHA. Removes replaced_by_trigger logic (#6498)
  terraform/app/kms-log.tf
Due: none

Updates for helm-chart pivcac DB name
  .gitlab-ci.yml
Due: test_images_exist

aws_cloudfront_distribution.idp_static_cdn[count.index] -> aws_cloudfront_distribution.idp_static_cdn (#6501)
  terraform/app/cloudfront-idp-cdn.tf
Due: none

Updating to produce a blank scan instead of unparsable artifact
  .gitlab-ci.yml
Due: test_images_exist

Modifying else to make a blank scan which is parseable (#6500)
  .gitlab-ci.yml
Due: test_images_exist

Updating to produce a blank scan instead of unparsable artifact (#379)
  .gitlab-ci.yml
Due: test_images_exist

switch aws console billing perms over to granular permissions (#6503)
  terraform/all/module/iam-role-billing.tf
Due: none

first stab at enabling gitlab pages
  kitchen/cookbooks/identity-gitlab/templates/default/gitlab.rb.erb
  terraform/gitlab/module/gitlab-pages-elb.tf
  terraform/gitlab/module/security_groups.tf
  terraform/gitlab/module/tls.tf
Due: none

Swap scan check from findings to enhancedFindings
  .gitlab-ci.yml
Due: test_images_exist

Swap scan check from findings to enhancedFindings (#380)
  .gitlab-ci.yml
Due: test_images_exist

Swapping check to enhancedFindings (#6506)
  .gitlab-ci.yml
Due: test_images_exist

AMI Lifecycle Rules for USW2 and USE1 (#6479)
  terraform/imagebuild/module/ami-cleanup.tf
  terraform/imagebuild/module/files/ami_cleanup.py
  terraform/imagebuild/module/main.tf
  terraform/imagebuild/module/variables.tf
  terraform/imagebuild/tooling-prod/main.tf
  terraform/modules/ami_dlm_lifecycle/data.tf
  terraform/modules/ami_dlm_lifecycle/lifecycle_rule.tf
  terraform/modules/ami_dlm_lifecycle/variables.tf
Due: none

Update Dockerfiles to Support Terraform 1.5.5 and Ruby 2.3.3 (BREAKING) (#6504)
  .gitlab-ci.yml
  bin/lib/common.sh
  bin/terraform-switch.sh
  dockerfiles/env_deploy.Dockerfile
  dockerfiles/gitlab_deploy.Dockerfile
  dockerfiles/terraform_apply.Dockerfile
  dockerfiles/terraform_plan.Dockerfile
  terraform/tooling/module-gitlabpipeline/variables.tf
  terraform/tooling/module-pipeline/variables.tf
  terraform/waf/module/logging.tf
  versions.tf
  versions.tf.old
Due: build_gitlab_deploy_container, build_gitlab_test_container, build_env_deploy_container, build_env_stop_container, build_env_test_container, build_idp_ci_container, scan_gitlab_deploy_container, scan_gitlab_test_container, scan_env_deploy_container, scan_env_stop_container, scan_env_test_container, scan_idp_ci_container, test_images_exist

creation of minimum infrastructure for Rails console access in us-east-1 (BREAKING) (#6508)
  bin/create-sandbox
  bin/lib/dotfiles/login-functions
  bin/lib/sandbox-lib.sh
  kitchen/cookbooks/login_dot_gov/attributes/default.rb
  kitchen/cookbooks/login_dot_gov/recipes/apt_update.rb
  kitchen/cookbooks/login_dot_gov/recipes/idp_migration.rb
  kitchen/environments/bleachbyte.json
  terraform/app/application-roles.tf
  terraform/app/dns.tf
  terraform/app/idp-static-bucket.tf
  terraform/app/migration.tf
  terraform/app/outboundproxy.tf
  terraform/app/ssm.tf
  terraform/app/variables.tf
  terraform/app/vpc_endpoints.tf
  terraform/modules/application_iam_roles/app.tf
  terraform/modules/application_iam_roles/idp.tf
  terraform/modules/application_iam_roles/migration.tf
  terraform/modules/application_iam_roles/outbound-proxy.tf
  terraform/modules/application_iam_roles/pivcac.tf
  terraform/modules/application_iam_roles/policy-documents.tf
  terraform/modules/application_iam_roles/variables.tf
  terraform/modules/application_iam_roles/worker.tf
  terraform/modules/base_security/endpoints.tf
  terraform/modules/base_security/main.tf
  terraform/modules/base_security/outputs.tf
  terraform/modules/base_security/variables.tf
  terraform/modules/idp_static_bucket/provider.tf
  terraform/modules/internal_dns/provider.tf
  terraform/modules/outbound_proxy/iam-instance-profile.tf
  terraform/modules/outbound_proxy/outboundproxy-asg.tf
  terraform/modules/outbound_proxy/output.tf
  terraform/modules/outbound_proxy/provider.tf
  terraform/modules/outbound_proxy/variables.tf
  terraform/modules/outbound_proxy_net/provider.tf
  terraform/modules/rds_aurora/main.tf
Due: none

Updating IDP integration with Review-apps
  .gitlab-ci.yml
Due: test_images_exist

Gitlab Allowed Images Break Fix (#6511)
  kitchen/cookbooks/identity-gitlab/recipes/runner.rb
Due: none

Onboard Nick Soutouras (#6514)
  terraform/master/global/users.yaml
Due: none

prevent removal of clusters/instances from Global DBs in upper envs (#6516)
  terraform/all/module/iam-policy-rds-delete-prevent.tf
Due: none

Gitlab Scripts and Blessed Image Revert (#6517)
  kitchen/cookbooks/identity-gitlab/recipes/runner.rb
  terraform/gitlab/push-gitlab-runner-allowed-images.sh
  terraform/gitlab/sign-gitlab-runner-images.sh
  terraform/gitlab/update-gitlab-runner-allowed-images.sh
Due: none

AMI update, 2023-08-15 (#6515)
  terraform/app/variables.tf
  terraform/gitlab/production/main.tf
Due: none

Post release version pre-276
  VERSION.txt
Due: none

Release version 275
  VERSION.txt
Due: none

Adding Tahinee Felix Marin to global users
  terraform/master/global/users.yaml
Due: none

Add JSON key check for IDP S3 config (#6518)
  cloudlib/lib/cloudlib/app_s3_secret.rb
Due: none

update case-sensitive staticsite_fixed_string value for New Relic monitors (#6525)
  terraform/modules/newrelic/variables.tf
Due: none

only create ami_dlm_lifecycle_use1 module if ami_regions includes us-east-1 (#6526)
  terraform/imagebuild/module/main.tf
  terraform/modules/ami_dlm_lifecycle/data.tf
  terraform/modules/ami_dlm_lifecycle/lifecycle_rule.tf
  terraform/modules/ami_dlm_lifecycle/versions.tf
Due: none

move app/app-alb Security Groups out of vpc_module, for now (#6527)
  terraform/app/app-alb.tf
  terraform/app/app-asg.tf
  terraform/app/net.tf
  terraform/modules/vpc_module/outputs.tf
  terraform/modules/vpc_module/sg.tf
  terraform/modules/vpc_module/variables.tf
Due: none

Path conditions:
  build_gitlab_deploy_container: any of: dockerfiles/*, versions.tf
  build_gitlab_test_container: any of: dockerfiles/*, versions.tf
  build_env_deploy_container: any of: dockerfiles/*, versions.tf
  build_env_stop_container: any of: dockerfiles/*, versions.tf
  build_env_test_container: any of: dockerfiles/*, versions.tf
  build_idp_ci_container: any of: dockerfiles/*, versions.tf
  scan_gitlab_deploy_container: any of: dockerfiles/*, versions.tf
  scan_gitlab_test_container: any of: dockerfiles/*, versions.tf
  scan_env_deploy_container: any of: dockerfiles/*, versions.tf
  scan_env_stop_container: any of: dockerfiles/*, versions.tf
  scan_env_test_container: any of: dockerfiles/*, versions.tf
  scan_idp_ci_container: any of: dockerfiles/*, versions.tf
  test_images_exist: any of: .gitlab-ci.yml
