Repository 18F/identity-pki: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gitlab-qa, build_gitlab_deploy, build_gitlab_test, build_env_deploy, build_env_test, build_idp_ci

Path conditions:
  gitlab-qa: any of: terraform/gitlab/**/*, kitchen/cookbooks/identity-gitlab/**/*, terraform/modules/gitlab_runner_pool/**/*
  build_gitlab_deploy: any of: dockerfiles/gitlab_deploy*, versions.tf
  build_gitlab_test: any of: dockerfiles/gitlab_test*, versions.tf
  build_env_deploy: any of: dockerfiles/env_deploy*, versions.tf
  build_env_test: any of: dockerfiles/env_test*, versions.tf
  build_idp_ci: any of: dockerfiles/idp_ci*

Remove "Smith" from PII Spill Detector Patterns (#5259)
  terraform/app/variables.tf
Due: none

Gitlab ENV Runner Fixes (#5244)
  terraform/app/gitlab.tf
  terraform/gitlab/bravo/main.tf
  terraform/gitlab/charlie/main.tf
  terraform/gitlab/module/dns.tf
  terraform/gitlab/module/gitlab-runner.tf
  terraform/modules/gitlab/gitlab.tf
  terraform/modules/gitlab/variables.tf
  terraform/modules/waf_data_gitlab/main.tf
  terraform/waf/gitlab-bravo/env-vars.sh
  terraform/waf/gitlab-bravo/main.tf
Due: gitlab-qa

AMI Update, 2022-09-20 (#5260)
  terraform/app/variables.tf
Due: none

Replace Jumphosts for Load Testing (#5202)
  Berksfile
  Berksfile.lock
  bin/focust
  bin/pocust
  bin/scp-instance
  bin/ssh-instance
  kitchen/cookbooks/identity-locust/CHANGELOG.md
  kitchen/cookbooks/identity-locust/README.md
  kitchen/cookbooks/identity-locust/attributes/default.rb
  kitchen/cookbooks/identity-locust/files/default/id-locust
  kitchen/cookbooks/identity-locust/metadata.rb
  kitchen/cookbooks/identity-locust/recipes/default.rb
  kitchen/roles/locust.json
  terraform/app/iam-profile.tf
  terraform/app/locust-asg.tf
  terraform/app/locust-leader.tf
  terraform/app/locust-worker.tf
  terraform/app/ssm.tf
  terraform/app/variables.tf
Due: none

change gitlab rds postgres default to 13.7 (#5264)
  terraform/gitlab/module/variables.tf
Due: gitlab-qa

Release v220 (#5266)
  VERSION.txt
Due: none

Gitlab Version 15.3 Bump (#5265)
  kitchen/cookbooks/identity-gitlab/recipes/default.rb
  kitchen/cookbooks/identity-gitlab/recipes/runner.rb
Due: gitlab-qa

Creating Metric Filter for the idp event log group for failed in person proofing enrollment
  terraform/app/cloudwatch-alarms-idp.tf
  terraform/app/cloudwatch-filters-idp.tf
Due: none

Use Node.js v16 in GitLab CI (#5155)
  dockerfiles/idp_ci.Dockerfile
Due: build_idp_ci

Updating module to enable SES to forward notifications to separate sns topics
  terraform/modules/eval_ses_feedback_notification/README.md
  terraform/modules/eval_ses_feedback_notification/main.tf
  terraform/modules/eval_ses_feedback_notification/sns-ses.png
Due: none

Restrict access to Attempts API (#5268)
  terraform/modules/waf_data_gitlab/versions.tf
  terraform/modules/waf_data_idp/README.md
  terraform/modules/waf_data_idp/main.tf
  terraform/modules/waf_data_idp/variables.tf
  terraform/waf/dev/env-vars.sh
  terraform/waf/dev/main.tf
  terraform/waf/gitlab-alpha/env-vars.sh
  terraform/waf/gitlab-alpha/main.tf
  terraform/waf/gitlab-bravo/env-vars.sh
  terraform/waf/gitlab-bravo/main.tf
  terraform/waf/gitlab-production/env-vars.sh
  terraform/waf/gitlab-production/main.tf
  terraform/waf/gitlab-staging/env-vars.sh
  terraform/waf/gitlab-staging/main.tf
  terraform/waf/int/env-vars.sh
  terraform/waf/int/header_block_regex.yml
  terraform/waf/int/main.tf
  terraform/waf/module/ipset.tf
  terraform/waf/module/regex_pattern_sets.tf
  terraform/waf/module/variables.tf
  terraform/waf/module/wafv2.tf
  terraform/waf/prod/env-vars.sh
  terraform/waf/prod/header_block_regex.yml
  terraform/waf/prod/main.tf
  terraform/waf/pt/env-vars.sh
  terraform/waf/pt/header_block_regex.yml
  terraform/waf/pt/main.tf
  terraform/waf/staging/env-vars.sh
  terraform/waf/staging/header_block_regex.yml
  terraform/waf/staging/main.tf
Due: none

Enable stopping of idp environments in gitlab (#5185)
  .gitlab-ci.yml
  dockerfiles/env_deploy.sh
  dockerfiles/env_stop.Dockerfile
  dockerfiles/env_stop.sh
  terraform/ecr/tooling-prod/repos.yml
  terraform/ecr/tooling/repos.yml
  terraform/modules/gitlab_runner_pool/iam-role.tf
Due: gitlab-qa, build_env_deploy

make bravo be deployed from main (#5273)
  .gitlab-ci.yml
Due: none

allow wafv2 endpoint in us-east-1 for env_runner (#5276)
  kitchen/cookbooks/identity-outboundproxy/templates/default/env-runner-domain-allowlist.conf.erb
Due: none

Applying terraform fmt
  terraform/app/cloudwatch-filters-idp.tf
Due: none

REALLY get bravo deployed from main (#5274)
  kitchen/environments/bravo.json
  terraform/gitlab/bravo/main.tf
Due: gitlab-qa

Gitlab QA CI Job (#5269)
  .gitlab-ci-rules.yml
  .gitlab-ci.yml
  bin/users/.gitlab-ci.yml
  cloudlib/.gitlab-ci.yml
  kitchen/cookbooks/identity-gitlab/templates/default/runner-register.sh.erb
Due: gitlab-qa

add urls for environments in to make it easier to find them (#5275)
  .gitlab-ci.yml
Due: none

Deploy gitlab alpha from gitlab production (#5261)
  .gitlab-ci.yml
  terraform/gitlab/alpha/main.tf
Due: gitlab-qa

Disable the header regex in dev WAF (#5282)
  terraform/waf/dev/main.tf
Due: none

Updating the README
  .terraform.lock.hcl
  bin/deploy/configure_state_bucket.sh
  terraform/modules/eval_ses_feedback_notification/README.md
Due: none

reverting to local changes made that got pushed
  bin/deploy/configure_state_bucket.sh
Due: none

reverting local changes to terraform.lock.hcl
  .terraform.lock.hcl
Due: none

Add cookstyle for identity-gitlab (#5283)
  .gitlab-ci.yml
  .rubocop.yml
  Gemfile
  Gemfile.lock
  kitchen/cookbooks/identity-gitlab/.gitlab-ci.yml
  kitchen/cookbooks/identity-gitlab/attributes/default.rb
  kitchen/cookbooks/identity-gitlab/metadata.rb
  kitchen/cookbooks/identity-gitlab/recipes/default.rb
  kitchen/cookbooks/identity-gitlab/recipes/runner.rb
  terraform/ecr/tooling-prod/repos.yml
  terraform/ecr/tooling/repos.yml
Due: gitlab-qa

Update lambda to remove whitespace in json keys (#5279)
  terraform/modules/athena_database/src/athena_events_log_processor_lambda.py
Due: none

Treat missing data as not breaching for maximum level of SES sending alert (#5284)
  terraform/all/module/svc_limits_notification.tf
Due: none

adding bleachbyte deploy jobs to .gitlab-ci.yml (#5287)
  .gitlab-ci.yml
Due: none

use main instead of stages/bleachbyte for gitlab pipeline jobs (#5288)
  .gitlab-ci.yml
Due: none

Cross Environment Load Testing (#5285)
  bin/focust
  terraform/app/locust-asg.tf
  terraform/app/ssm.tf
Due: none

removing gitlab configs for bleachbyte env (for now) (#5290)
  .gitlab-ci.yml
Due: none

Update Gitlab_Servicename After Gitlab Prod Rebuild (#5291)
  terraform/gitlab/alpha/main.tf
  terraform/gitlab/bravo/main.tf
  terraform/gitlab/charlie/main.tf
  terraform/gitlab/gitstaging/main.tf
Due: gitlab-qa

Add in the new private blocks for GitLab WAF (#5294)
  terraform/modules/waf_data_gitlab/main.tf
  terraform/modules/waf_data_gitlab/variables.tf
Due: none

AMI update, 2022-09-27 (#5300)
  terraform/app/variables.tf
Due: none

Post release version pre-222
  VERSION.txt
Due: none

Release version 221
  VERSION.txt
Due: none

Adding a new slack channel for sns-slack notification feature
  terraform/all/module/sns-alerts.tf
Due: none

Adding in EnableReplication for Lambda@Edge to function correctly (#5289)
  terraform/all/module/iam-role-terraform.tf
Due: none

create emcfarland.json (#5305)
  kitchen/environments/emcfarland.json
Due: none

add exostar certificates
  config/application.yml.default
  config/cert_bundles/login_bundle.pem
  config/certs/C=GB, O=Exostar UK Limited, CN=Exostar Digital Certificate Service Signing CA 1.pem
  config/certs/C=US, O=Exostar LLC, OU=Certification Authorities, CN=Exostar Federated Identity Service Root CA 2.pem
  config/certs/DC=com, DC=evincible, CN=Exostar Federated Identity Service Signing CA 3.pem
  config/certs/DC=com, DC=evincible, CN=Exostar Federated Identity Service Signing CA 4.pem
Due: none

update ficam bundle
  config/cert_bundles/ficam_bundle.pem
Due: none
