Repository 18F/identity-pki: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_gitlab_deploy_container, build_gitlab_test_container, build_env_deploy_container, build_env_stop_container, build_env_test_container, build_pivcac_ci_container, build_dashboard_ci_container, scan_gitlab_deploy_container, scan_gitlab_test_container, scan_env_deploy_container, scan_env_stop_container, scan_env_test_container, scan_pivcac_ci_container, test_images_exist

build_gitlab_deploy_container:
  stage: build
  interruptible: true
  tags:
  - build-pool
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

build_gitlab_test_container:
  stage: build
  interruptible: true
  tags:
  - build-pool
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

build_env_deploy_container:
  stage: build
  interruptible: true
  tags:
  - build-pool
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

build_env_stop_container:
  stage: build
  interruptible: true
  tags:
  - build-pool
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

build_env_test_container:
  stage: build
  interruptible: true
  tags:
  - build-pool
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

build_pivcac_ci_container:
  stage: build
  interruptible: true
  tags:
  - build-pool
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

build_dashboard_ci_container:
  stage: build
  interruptible: true
  tags:
  - build-pool
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

scan_gitlab_deploy_container:
  stage: scan
  interruptible: true
  allow_failure: true
  tags:
  - build-pool
  image:
    name: $ECR_REGISTRY/ecr-public/aws-cli/aws-cli
    entrypoint:
    - ''
  before_script:
  - curl -LO https://github.com/jqlang/jq/releases/download/jq-1.6/jq-linux64
  - chmod +x jq-linux64
  - mv jq-linux64 /usr/local/bin/jq
  ...

scan_gitlab_test_container:
  stage: scan
  interruptible: true
  allow_failure: true
  tags:
  - build-pool
  image:
    name: $ECR_REGISTRY/ecr-public/aws-cli/aws-cli
    entrypoint:
    - ''
  before_script:
  - curl -LO https://github.com/jqlang/jq/releases/download/jq-1.6/jq-linux64
  - chmod +x jq-linux64
  - mv jq-linux64 /usr/local/bin/jq
  ...

scan_env_deploy_container:
  stage: scan
  interruptible: true
  allow_failure: true
  tags:
  - build-pool
  image:
    name: $ECR_REGISTRY/ecr-public/aws-cli/aws-cli
    entrypoint:
    - ''
  before_script:
  - curl -LO https://github.com/jqlang/jq/releases/download/jq-1.6/jq-linux64
  - chmod +x jq-linux64
  - mv jq-linux64 /usr/local/bin/jq
  ...

scan_env_stop_container:
  stage: scan
  interruptible: true
  allow_failure: true
  tags:
  - build-pool
  image:
    name: $ECR_REGISTRY/ecr-public/aws-cli/aws-cli
    entrypoint:
    - ''
  before_script:
  - curl -LO https://github.com/jqlang/jq/releases/download/jq-1.6/jq-linux64
  - chmod +x jq-linux64
  - mv jq-linux64 /usr/local/bin/jq
  ...

Release version 318
  VERSION.txt
Due: none

phone setup OTP confirmation success rate (#7233)
  terraform/app/cloudwatch-alarms-idp.tf
  terraform/app/cloudwatch-filters-idp.tf
  terraform/app/variables.tf
Due: none

Reverting changes (#7259)
  kitchen/cookbooks/identity-outboundproxy/recipes/default.rb
Due: none

Release version 319
  VERSION.txt
Due: none

Post release version pre-320
  VERSION.txt
Due: none

bump to gitlab 16.9.4 security update
  kitchen/cookbooks/identity-gitlab/attributes/default.rb
Due: none

Run deploy/build on worker hosts to ensure that yarn packages are installed (#7263)
  kitchen/cookbooks/login_dot_gov/recipes/idp_worker_base.rb
Due: none

Have Terraform Ignore AWS System Tags (#7239)
  versions.tf
Due: build_gitlab_deploy_container, build_gitlab_test_container, build_env_deploy_container, build_env_stop_container, build_env_test_container, build_pivcac_ci_container, build_dashboard_ci_container, scan_gitlab_deploy_container, scan_gitlab_test_container, scan_env_deploy_container, scan_env_stop_container, scan_env_test_container, scan_pivcac_ci_container

Enable puma in staging (#7268)
  kitchen/environments/staging.json
Due: none

Adding EKS lifecycle pipeline
  .gitlab-ci.yml
Due: test_images_exist

Remove jumphost configuration from chef environments and roles (#7269)
  kitchen/cookbooks/login_dot_gov/attributes/default.rb
  kitchen/data_bags/private/auto_eip_config.json
  kitchen/environments/bleachbyte.json
  kitchen/environments/dev.json
  kitchen/environments/dm.json
  kitchen/environments/int.json
  kitchen/environments/prod.json
  kitchen/environments/pt.json
  kitchen/environments/pt2.json
  kitchen/environments/stable.json
  kitchen/environments/staging.json
  kitchen/roles/gitlab.json
  kitchen/roles/gitlab_runner.json
Due: none

Adding rc- branch regex to workflow
  .gitlab-ci.yml
Due: test_images_exist

Syntax error fix
  .gitlab-ci.yml
Due: test_images_exist

Adding eks_release stage
  .gitlab-ci.yml
Due: test_images_exist

Changing rule order to stop review-app from running when not a merge request
  .gitlab-ci.yml
Due: test_images_exist

Correcting RC image build
  .gitlab-ci.yml
Due: test_images_exist

doc/compliance: Pinning NIST OSCAL references to 1.0.0 (#7272)
  doc/compliance/profiles/gitlab/profile.json
Due: none

Add json validation check to chef json configuration files (#7273)
  bin/oneoffs/check_valid_json_chef
  kitchen/.gitlab-ci.yml
Due: none

Making helm chart commit message more specific
  .gitlab-ci.yml
Due: test_images_exist

Onboarding Lily Rappaport
  terraform/master/global/users.yaml
Due: none

Update ec2 username from bseck to biraneseck (#7276)
  terraform/master/global/users.yaml
Due: none

LG-12997: Remove expired Exostar certificate
  config/cert_bundles/ficam_bundle.pem
  config/cert_bundles/login_bundle.pem
  config/certs/DC=com, DC=evincible, CN=Exostar Federated Identity Service Signing CA 3.pem
Due: none

LG-12997: Remove expired Exostar certificate (#446)
  config/cert_bundles/ficam_bundle.pem
  config/cert_bundles/login_bundle.pem
  config/certs/DC=com, DC=evincible, CN=Exostar Federated Identity Service Signing CA 3.pem
Due: none

LG-12622: Specify acceptable client certificate authority names
  config/nginx_server.conf.example
Due: none

update vraj.mohan in users.yaml (#7278)
  terraform/master/global/users.yaml
Due: none

add Gitlab perms for Nick (#7279)
  terraform/master/global/users.yaml
Due: none

remove send_logs_to_s3 module/cw-kinesis-s3-idp-events Subscription Filter (#7277)
  terraform/app/application-roles.tf
  terraform/app/kinesis.tf
  terraform/app/legacy-log-cache-bucket.tf
  terraform/app/variables.tf
  terraform/modules/application_iam_roles/athena.tf
  terraform/modules/application_iam_roles/policy-documents.tf
  terraform/modules/application_iam_roles/variables.tf
  terraform/modules/send_logs_to_s3/iam.tf
  terraform/modules/send_logs_to_s3/main.tf
  terraform/modules/send_logs_to_s3/variables.tf
Due: none

disable SSM docs/commands for FraudOps in analytics-sandbox (for now) (#7271)
  terraform/all/analytics-sandbox/main.tf
Due: none

only deny deletion of log groups specifically starting with upper env names (#7281)
  terraform/all/module/iam-policy-rds-delete-prevent.tf
Due: none

AMI update, 2024-04-16 (#7282)
  terraform/app/variables.tf
  terraform/gitlab/production/main.tf
Due: none

Release version 320
  VERSION.txt
Due: none

Post release version pre-321
  VERSION.txt
Due: none

LG-12622: Specify acceptable client certificate authority names (#445)
  config/nginx_server.conf.example
Due: none

Onboarding Andrew Farkas to Production (#7224)
  terraform/master/global/users.yaml
Due: none

bring terraform bundle up to date
  terraform/tooling/module-gitlabpipeline/variables.tf
  terraform/tooling/module-pipeline/variables.tf
Due: none

Change agnes to mww59/restore_analytics (#7288)
  .gitlab-ci.yml
Due: test_images_exist

Provide Colter Nattrass access to production (#7284)
  terraform/master/global/users.yaml
Due: none

Add Birane Seck to Production aws group (#7290)
  terraform/master/global/users.yaml
Due: none

Set email as a tag on IAM users, use that for credential expiration reminders (#7275)
  .gitignore
  bin/lambda-utilities/lint.sh
  bin/lambda-utilities/requirements.txt
  bin/lambda-utilities/test.sh
  terraform/.gitlab-ci.yml
  terraform/app/lambda/kms_slack_batch_processor/kms_slack_batch_processor.py
  terraform/master/global/main.tf
  terraform/master/module/iam_users.tf
  terraform/master/module/variables.tf
  terraform/modules/config_access_key_rotation/role.tf
  terraform/modules/config_access_key_rotation/src/config_access_key_rotation.py
  terraform/modules/config_access_key_rotation/src/config_access_key_rotation_test.py
  terraform/modules/config_iam_password_rotation/lambda.tf
  terraform/modules/config_iam_password_rotation/lambda/config_password_rotation.py
  terraform/modules/config_iam_password_rotation/lambda/config_password_rotation_test.py
Due: none

LG-12765: DMS filter column schema has column types (#7295)
  terraform/app/dms-filter-columns-transformation-rules.yml
  terraform/app/dms-filtercolumns.tf
Due: none

Path conditions:
  build_gitlab_deploy_container: any of: dockerfiles/*, versions.tf
  build_gitlab_test_container: any of: dockerfiles/*, versions.tf
  build_env_deploy_container: any of: dockerfiles/*, versions.tf
  build_env_stop_container: any of: dockerfiles/*, versions.tf
  build_env_test_container: any of: dockerfiles/*, versions.tf
  build_pivcac_ci_container: any of: dockerfiles/*, versions.tf
  build_dashboard_ci_container: any of: dockerfiles/*, versions.tf
  scan_gitlab_deploy_container: any of: dockerfiles/*, versions.tf
  scan_gitlab_test_container: any of: dockerfiles/*, versions.tf
  scan_env_deploy_container: any of: dockerfiles/*, versions.tf
  scan_env_stop_container: any of: dockerfiles/*, versions.tf
  scan_env_test_container: any of: dockerfiles/*, versions.tf
  scan_pivcac_ci_container: any of: dockerfiles/*, versions.tf
  test_images_exist: any of: .gitlab-ci.yml
