Repository 18F/identity-pki: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_gitlab_deploy_container, build_gitlab_test_container, build_env_deploy_container, build_env_stop_container, build_env_test_container, build_idp_ci_container, scan_gitlab_deploy_container, scan_gitlab_test_container, scan_env_deploy_container, scan_env_stop_container, scan_env_test_container, scan_idp_ci_container, test_images_exist

build_gitlab_deploy_container:
  stage: build
  interruptible: true
  tags:
  - build-pool
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

build_gitlab_test_container:
  stage: build
  interruptible: true
  tags:
  - build-pool
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

build_env_deploy_container:
  stage: build
  interruptible: true
  tags:
  - build-pool
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

build_env_stop_container:
  stage: build
  interruptible: true
  tags:
  - build-pool
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

build_env_test_container:
  stage: build
  interruptible: true
  tags:
  - build-pool
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

build_idp_ci_container:
  stage: build
  interruptible: true
  tags:
  - build-pool
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  ...

scan_gitlab_deploy_container:
  stage: scan
  interruptible: true
  allow_failure: true
  tags:
  - build-pool
  image:
    name: amazon/aws-cli
    entrypoint:
    - ''
  before_script:
  - curl -LO https://github.com/jqlang/jq/releases/download/jq-1.6/jq-linux64
  - chmod +x jq-linux64
  - mv jq-linux64 /usr/local/bin/jq
  script:
  ...

scan_gitlab_test_container:
  stage: scan
  interruptible: true
  allow_failure: true
  tags:
  - build-pool
  image:
    name: amazon/aws-cli
    entrypoint:
    - ''
  before_script:
  - curl -LO https://github.com/jqlang/jq/releases/download/jq-1.6/jq-linux64
  - chmod +x jq-linux64
  - mv jq-linux64 /usr/local/bin/jq
  script:
  ...

scan_env_deploy_container:
  stage: scan
  interruptible: true
  allow_failure: true
  tags:
  - build-pool
  image:
    name: amazon/aws-cli
    entrypoint:
    - ''
  before_script:
  - curl -LO https://github.com/jqlang/jq/releases/download/jq-1.6/jq-linux64
  - chmod +x jq-linux64
  - mv jq-linux64 /usr/local/bin/jq
  script:
  ...

scan_env_stop_container:
  stage: scan
  interruptible: true
  allow_failure: true
  tags:
  - build-pool
  image:
    name: amazon/aws-cli
    entrypoint:
    - ''
  before_script:
  - curl -LO https://github.com/jqlang/jq/releases/download/jq-1.6/jq-linux64
  - chmod +x jq-linux64
  - mv jq-linux64 /usr/local/bin/jq
  script:
  ...

scan_env_test_container:
  stage: scan
  interruptible: true
  allow_failure: true
  tags:
  - build-pool
  image:
    name: amazon/aws-cli
    entrypoint:
    - ''
  before_script:
  - curl -LO https://github.com/jqlang/jq/releases/download/jq-1.6/jq-linux64
  - chmod +x jq-linux64
  - mv jq-linux64 /usr/local/bin/jq
  script:
  ...

Adding PIVCAC address to console information
  .gitlab-ci.yml
Due: test_images_exist

Adding Jeremy Curcio to production access (#6476)
  terraform/master/global/users.yaml
Due: none

Refactor DMS resources for multiple use (#6473)
  terraform/app/dms-bigint.tf
  terraform/app/dms.tf
  terraform/app/rds-variables.tf
  terraform/modules/dms/main.tf
  terraform/modules/dms/outputs.tf
  terraform/modules/dms/variables.tf
  terraform/modules/dms_bigint/main.tf
  terraform/modules/vpc_module/outputs.tf
Due: none

Update k8files/application.yml.default.docker
  k8files/application.yml.default.docker
Due: none

Aurora Failover Alerts (#6431)
  terraform/app/cloudwatch-alarms-aurora.tf
Due: none

Cmccarthy/containerization (#371)
  .gitlab-ci.yml
  Gemfile
  Gemfile.lock
  config/application.yml.default
  config/database.yml
  k8.Dockerfile
  k8files/application.yml.default.docker
  k8files/configure_environment
  k8files/fipsmode.patch
  k8files/nginx.conf
  k8files/pivcac.conf
  k8files/puma_production
  k8files/push_letsencrypt_certs.sh
  k8files/status-map.conf
  k8files/status.conf
  k8files/update_cert_revocations
  k8files/update_letsencrypt_certs
  lib/identity_config.rb
  spec/lib/identity_config_spec.rb
  spec/spec_helper.rb
Due: test_images_exist

Upgrade hashicorp/aws provider to 5.8.0 (BREAKING) (#6436)
  .terraform.lock.hcl
  terraform/all/module/s3-secrets-slack.tf
  terraform/all/module/sns-alerts.tf
  terraform/app/idp-doc-capture.tf
  terraform/app/s3-objects.tf
  terraform/app/version_info.tf
  terraform/core/module/mta-sts.tf
  terraform/gitlab/module/cloudwatch-log.tf
  terraform/gitlab/module/gitaly.tf
  terraform/gitlab/module/gitlab.tf
  terraform/gitlab/module/rds.tf
  terraform/gitlab/module/redis.tf
  terraform/imagebuild/module/packer-config.tf
  terraform/modules/bootstrap/main.tf
  terraform/modules/idp_static_bucket/main.tf
  terraform/modules/send_logs_to_s3/main.tf
  terraform/modules/vpc_module/main.tf
  terraform/tooling/module-gitlabpipeline/variables.tf
  terraform/tooling/module-pipeline/variables.tf
  terraform/tooling/module/vpc.tf
  versions.tf
  versions.tf.old
Due: build_gitlab_deploy_container, build_gitlab_test_container, build_env_deploy_container, build_env_stop_container, build_env_test_container, build_idp_ci_container, scan_gitlab_deploy_container, scan_gitlab_test_container, scan_env_deploy_container, scan_env_stop_container, scan_env_test_container, scan_idp_ci_container

add SGs for idp/pivcac ELBs, remove 'web' SG / legacy 0.0.0.0/0 rules + CloudFront conditional vars (BREAKING) (#6477)
  kitchen/environments/sshelton.json
  terraform/all/module/iam-role-terraform.tf
  terraform/app/cloudfront-idp-cdn.tf
  terraform/app/idp-alb.tf
  terraform/app/idp-static-bucket.tf
  terraform/app/net.tf
  terraform/app/pivcac.tf
  terraform/app/variables.tf
  terraform/gitlab/module/net.tf
  terraform/modules/vpc_module/outputs.tf
  terraform/modules/vpc_module/sg.tf
Due: none

removed redundant line
  bin/ecr_scan_dump.sh
Due: none

try adding an apk update to see if we get newer go stuff
  dockerfiles/env_test.Dockerfile
  dockerfiles/gitlab_test.Dockerfile
Due: build_gitlab_deploy_container, build_gitlab_test_container, build_env_deploy_container, build_env_stop_container, build_env_test_container, build_idp_ci_container, scan_gitlab_deploy_container, scan_gitlab_test_container, scan_env_deploy_container, scan_env_stop_container, scan_env_test_container, scan_idp_ci_container

Update intermediate cert task to fetch signing key
  lib/tasks/certs.rake
Due: none

Add missing DOT intermediate certs
  config/cert_bundles/ficam_bundle.pem
  config/cert_bundles/login_bundle.pem
  config/certs/C=US, O=ORC PKI, CN=WidePoint SSP Intermediate CA 1994507498.pem
  config/certs/C=US, O=U.S. Government, OU=U.S. Department of Transportation, CN=U.S. Department of Transportation Agency CA G6.pem
Due: none

Remove duplicate cert
  config/certs/C=US, O=ORC PKI, CN=WidePoint SSP Intermediate CA 1994507498.pem
Due: none

Update intermediate cert task to fetch signing key, add missing DOT intermediate certs (#374)
  config/cert_bundles/ficam_bundle.pem
  config/cert_bundles/login_bundle.pem
  config/certs/C=US, O=U.S. Government, OU=U.S. Department of Transportation, CN=U.S. Department of Transportation Agency CA G6.pem
  lib/tasks/certs.rake
Due: none

First pass at deploying IDP and Worker with PIVCAC review-app
  .gitlab-ci.yml
Due: test_images_exist

LG-10266: Divide in-person proofing dashboard to reduce Cloudwatch queries (#6464)
  terraform/app/cloudwatch-dashboard-ipp-analytics.tf
  terraform/app/cloudwatch-dashboard-ipp-archive.tf
  terraform/app/cloudwatch-dashboard-ipp-kpi.tf
  terraform/app/cloudwatch-dashboard-ipp-usps.tf
  terraform/app/cloudwatch-dashboard-ipp.tf
Due: none

Swapping helm chart repo to master
  .gitlab-ci.yml
Due: test_images_exist

Pulling helm chart from master branch
  .gitlab-ci.yml
Due: test_images_exist

Pulling helm chart from main branch
  .gitlab-ci.yml
Due: test_images_exist

Updating application role module to add in the new use1 (#6482)
  terraform/review-app-eks/application_roles.tf
Due: none

Pulling helm chart from master branch (#376)
  .gitlab-ci.yml
Due: test_images_exist

Updating PIVCAC IDP_HOST variable to IDP pod
  .gitlab-ci.yml
Due: test_images_exist

get images going which have the proper provider in them
  .gitlab-ci.yml
Due: test_images_exist

KMS Log Cloudwatch Processor Configuration Variables (#6484)
  terraform/app/kms-log.tf
  terraform/app/variables.tf
Due: none

Grant finops access to Christine Guy (#6488)
  terraform/master/global/users.yaml
Due: none

Renaming migration module initialization
  terraform/app/cloudwatch-alarms-asg.tf
  terraform/app/idp-asg.tf
  terraform/app/migration.tf
  terraform/app/pivcac.tf
  terraform/app/worker-asg.tf
Due: none

AMI update, 2023-08-08 (#6489)
  terraform/app/variables.tf
  terraform/gitlab/production/main.tf
Due: none

LG-10583: Fix dashboards using renamed event (#6487)
  cloudlib/lib/cloudlib/canary_deploy.rb
  terraform/app/cloudwatch-dashboard-idv-errors.tf
  terraform/app/cloudwatch-dashboard-idv-trueid-transition.tf
  terraform/app/cloudwatch-dashboard-idv-vendors.tf
  terraform/app/cloudwatch-dashboard-ipp-analytics.tf
  terraform/app/cloudwatch-filters-idp.tf
  terraform/app/cloudwatch-idv-inherited-proofing-funnel.tf
  terraform/app/cloudwatch-idv-mva-timeouts.tf
  terraform/app/cloudwatch-idv-resolution-failed-attributes.tf
Due: none

Release version 273
  VERSION.txt
Due: none

Path conditions:
  build_gitlab_deploy_container: any of: dockerfiles/*, versions.tf
  build_gitlab_test_container: any of: dockerfiles/*, versions.tf
  build_env_deploy_container: any of: dockerfiles/*, versions.tf
  build_env_stop_container: any of: dockerfiles/*, versions.tf
  build_env_test_container: any of: dockerfiles/*, versions.tf
  build_idp_ci_container: any of: dockerfiles/*, versions.tf
  scan_gitlab_deploy_container: any of: dockerfiles/*, versions.tf
  scan_gitlab_test_container: any of: dockerfiles/*, versions.tf
  scan_env_deploy_container: any of: dockerfiles/*, versions.tf
  scan_env_stop_container: any of: dockerfiles/*, versions.tf
  scan_env_test_container: any of: dockerfiles/*, versions.tf
  scan_idp_ci_container: any of: dockerfiles/*, versions.tf
  test_images_exist: any of: .gitlab-ci.yml
